<%= form_with(modal: @top, local: true) do |f| %>
  
  <div class="field-form">
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, autofocus: true, placeholder: "名前" %>
  </div>

  <div class="field-form">
    <%= f.submit "質問へ" %>
  </div>

<% end %>
