<h3>名前を入力してください</h3>

<%= form_with(modal: @top, url: tops_path, local: true) do |f| %>
  
  <div class="field-form">
    <%= f.label :name, '名前' %>
    <%= f.text_field :name, autofocus: true, placeholder: "名前" %>
  </div>

  <div class="field-form">
    <%= f.submit "作成" %>
  </div>

<% end %>
